<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Answers</title>
  </head>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/trivia">Questions</a>
      </li>
    </ul>
  </nav>
  <body>
    <h1>The Answer Is:</h1>
    <%= answers %>
    <br />
    <img src=<%= images %> />
    <a href="/trivia/<%= next %>">Next Question</a>
  </body>
</html>
